* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.active a {
	background-color: #A9A9A9;
	border-radius: 30px;
	color: black;
}

body {
	background-color: #90EE90;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 1300px;
	margin: auto;
}

.logo a {
	font-size: 30px;
	font-weight: bold;
	float: left;
	font-family: courier;
	color: #90EE90;
}

.menu {
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 50px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #3CB371;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
}

.active a {
	color: black;
}

nav ul li a:hover {
	border-radius: 15px;
	background: #A9A9A9;
	/*margim: 0.02px;*/
    color: black;
}

.conteudo {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.conteudo1 {
	border-top: 500px;
	width: 900px;
	padding: 20px;
	margin: 50px 200px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 25px;
	background-color: rgb(240, 240, 240);
}

.conteudo2 {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.conteudo3 {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.conteudo4 {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.conteudo5 {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.conteudo6 {
	border-top: 600px;
	width: 800px;
	padding: 25px;
	margin: 290px auto;
	background: #A9A9A9;
	transition: all 0.5s ease;
	border: 1px solid #A9A9A9;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 15px 30px;
	background-color: rgb(240, 240, 240);
}

.kolom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.kolom .deskripsi {
	font-size: 30px;
	font-weight: bold;
	font-family: 'comic sans ms';
	color: #F8ECD1;
}